<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | 404 Error</title>

    <link href="../stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="../stylesheets/css/animate.css" rel="stylesheet">
    <link href="../stylesheets/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">


<div class="middle-box text-center animated fadeInDown">
    <h1>404</h1>
    <h3 class="font-bold">Page Not Found</h3>

    <div class="error-desc">
        페이지를 찾을 수 없습니다.

    </div>
    <button type="button" class="btn btn-primary">홈 가기</button>

</div>

</body>

</html>
